@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Calendar>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<section class="bg-light bg-lg-none mvh-100 p-0 py-lg-5">
    <div class="container">
        <div class="content bg-none bg-lg-white rounded">
            <div class="row no-gutters">
                <div class="col-12 col-lg-5 col-xl-4">
                    <div class="py-3 p-lg-4">
                        <h1 class="text-center">Daily Plan</h1>
                        <div class="row">
                            <div class="col-6 col-lg-12">
                                <span class="text-ellipsis">Mon, 10/29/2018</span>
                            </div>
                            <div class="col-6 text-right d-lg-none">
                                <button class="btn btn-link">Select date <i class="far fa-calendar-alt"></i> <i class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="calendar">
                                    <div class="calendar-navigation mb-1">
                                        <div class="calendar-prev"><i class="fas fa-chevron-left"></i></div>
                                        <div class="calendar-month"><h3>October</h3></div>
                                        <div class="calendar-next"><i class="fas fa-chevron-right"></i></div>
                                    </div>
                                    <div class="calendar-weekdays">
                                        <div class="calendar-weekday">M</div>
                                        <div class="calendar-weekday">T</div>
                                        <div class="calendar-weekday">W</div>
                                        <div class="calendar-weekday">T</div>
                                        <div class="calendar-weekday">F</div>
                                        <div class="calendar-weekday">S</div>
                                        <div class="calendar-weekday">S</div>
                                    </div>
                                    <div class="calendar-days">
                                        <div class="calendar-day">1</div>
                                        <div class="calendar-day">2</div>
                                        <div class="calendar-day">3</div>
                                        <div class="calendar-day">4</div>
                                        <div class="calendar-day">5</div>
                                        <div class="calendar-day">6</div>
                                        <div class="calendar-day">7</div>
                                        <div class="calendar-day">8</div>
                                        <div class="calendar-day">9</div>
                                        <div class="calendar-day">10</div>
                                        <div class="calendar-day">11</div>
                                        <div class="calendar-day">12</div>
                                        <div class="calendar-day">13</div>
                                        <div class="calendar-day">14</div>
                                        <div class="calendar-day">15</div>
                                        <div class="calendar-day">16</div>
                                        <div class="calendar-day">17</div>
                                        <div class="calendar-day">18</div>
                                        <div class="calendar-day">19</div>
                                        <div class="calendar-day">20</div>
                                        <div class="calendar-day">21</div>
                                        <div class="calendar-day">22</div>
                                        <div class="calendar-day">23</div>
                                        <div class="calendar-day">24</div>
                                        <div class="calendar-day">25</div>
                                        <div class="calendar-day">26</div>
                                        <div class="calendar-day">27</div>
                                        <div class="calendar-day">28</div>
                                        <div class="calendar-day today">29</div>
                                        <div class="calendar-day">30</div>
                                        <div class="calendar-day">31</div>
                                        <div class="calendar-day other-month">1</div>
                                        <div class="calendar-day other-month">2</div>
                                        <div class="calendar-day other-month">3</div>
                                        <div class="calendar-day other-month">4</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 col-xl-8">
                    <div class="card card-slide-bottom rounded-top shadow-3-top bg-lg-none">
                        <div class="card-body">
                            <h2 class="text-center">What's happening?</h2>

                            @if (Model.Content.FeatureCalendar != null)
                            {
                               
                                foreach (CalendarItem calendarItem in Model.Content.FeatureCalendar)
                                {
                                    <div class="card mb-1">
                                        <div class="card-body">

                                            <a href="@calendarItem.Url">
                                                <img class="rounded-circle float-left mr-1" src="@calendarItem.ImageEvent.Url" alt="@calendarItem.AltDescription" height="48" />
                                                <h3 class="card-title text-primary mb-0">@calendarItem.Event.ToString("HH:mm")</h3>
                                                <p class="card-text text-ellipsis">@calendarItem.EventTitle</p>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
